<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Posto de Saúde Web</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Editar consulta</h1>

        <form method="POST" action="/posto-saude/salvarConsulta" class="w-60 mx-auto">
            <input type="hidden" name="id" th:value="${consulta.id}" />

            <div class="form-group">
                <label>Data Consulta:</label>
                <input type="datetime-local" name="data_consulta" class="form-control" required /> 
            </div>

            <div class="form-group">
                <label>Paciente:</label>
                <select name="paciente.id" class="form-control" required>
                    <option value="" disabled>Escolha um Paciente</option>
                    <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome} + ' ' +  ${paciente.sobrenome}" th:selected="${paciente.id == consulta.paciente.id}"></option>
                </select>
            </div>

            <div class="form-group">
                <label>Médico:</label>
                <select name="medico.id" class="form-control" required>
                    <option value="" disabled>Escolha um Médico</option>
                    <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome} + ' ' +  ${medico.sobrenome}" th:selected="${medico.id == consulta.medico.id}"></option>
                </select>
            </div>

            <div class="form-group">
                <label>Descrição:</label>
                <input type="text" name="descricao" th:value="${consulta.descricao}" class="form-control" required /> 
            </div>

            <button type="submit" class="btn btn-success">Salvar Alterações</button>
        </form>
    </div>

</body>
</html>
