<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Posto de Saúde Web</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Editar endereço</h1>

        <form method="POST" action="/posto-saude/salvarEndereco" class="w-60 mx-auto">
            <input type="hidden" name="id" th:value="${endereco.id}" />
            
            <div class="form-group">
                <label>Logradouro:</label>
                <input type="text" name="logradouro" th:value="${endereco.logradouro}" class="form-control" required />
            </div>

            <div class="form-group">
                <label>Numero:</label>
                <input type="text" name="numero" th:value="${endereco.numero}" class="form-control" required />
            </div>

            <div class="form-group">
                <label>Cep:</label>
                <input type="text" name="cep" th:value="${endereco.cep}" class="form-control" required />
            </div>

            <div class="form-group">
                <label>Complemento:</label>
                <input type="text" name="complemento" th:value="${endereco.complemento}" class="form-control" required />
            </div>
            
            <div class="form-group">
                <label>Paciente:</label>
                <select name="paciente.id" class="form-control" required>
                    <option value="" disabled>Escolha um Paciente</option>
                    <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome} + ' ' +  ${paciente.sobrenome}"></option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Bairro:</label>
                <select name="bairro.id" class="form-control" required>
                    <option value="" disabled>Escolha um Bairro</option>
                    <option th:each="bairro : ${bairros}" th:value="${bairro.id}" th:text="${bairro.nome}" th:selected="${bairro.id == endereco.bairro.id}"></option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>

</body>

</html>
