<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Posto de Saúde Web</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1 class="text-center">Especialidades cadastradas</h1>
    <table class="table table-bordered table-hover">
        <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="especialidade : ${especialidades}">
                <td th:text="${especialidade.id}"></td>
                <td th:text="${especialidade.descricao}"></td>
                <td>
                    <a th:href="@{'/editarEspecialidade/' + ${especialidade.id}}" class="btn btn-primary">Editar</a>
                    <form th:action="@{'/removerEspecialidade/' + ${especialidade.id}}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja remover esta especialidade?')">Remover</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>


</body>
</html>
